* {
    box-sizing: border-box;
}

body {
    background-color: white;
    color: white;
    font-family: "poppins", sans-serif;
    margin: 0;
    
}

.root {
    flex-direction: column;
    display: flex;
}

header {
    display: flex;
    background-color: white;
    padding: 1rem;
    justify-content: space-around;
    border-bottom: 1px solid grey;
    width: 90%;
    margin: auto;
}

.search {
    border: 2px solid #e2e2eb;
    color: black;
    
    font-family: inherit;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem 0.5rem 3rem;
    
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    background-color: white;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    margin: 1rem;
    width: 300px;
    overflow: hidden;
    position: relative;
}

.movie img {
    max-width: 100%;
}

.movie-info {
    align-items: center;
    justify-content: space-between;
    display: flex;
  
    
}

.movie-info h3 {
    margin: 0;
    color: black;
    text-align: center;
    margin-left: 30px;
}

.movie-over {
    position: absolute;
    background-color: #fff;
    color: #22254b;
    padding: 1rem;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    overflow: auto;
    max-height: 100%;
}

.movie:hover .movie-over {
    transform: translateY(0%);
}

.search:focus {
    outline: 0;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.movie-heading {
    margin-left: 12%;
    font-weight: bold;
    color: black
}

span {
    color: black;
    display: block;
}


  .icon {
      color: gray;
      position: relative;

  }
  .icon i {
      position: absolute;
      left: 10px;
      top: 13px;
  }
  
  .logo img {
      width: 40px;
  }

  .vote {
    color: black;
    position: absolute;
    top: 8px;
    left: 16px;
    border-radius: 50px;
    border: 1px solid black;
    background-color: white;
    width: 35px;
    height: 35px;
    align-items: center;
    text-align: center;
    padding: 5px;
   
    
  }

  .vote p {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: auto;
    
  }
  